# init blkid
type etc_runtime_t, file_type;

# Persist firmware types
type persist_bluetooth_file, file_type;
type persist_camera_file, file_type;
type persist_sensors_file, file_type;
type persist_wifi_file, file_type;
